.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    width: 1283px;
    height: 189px;
}

.title {
    width: 334px;
    height: 79px;
    padding-bottom: 110px;
}

.red-text {
    color: #000;
    font-size: 80px;
}

.blue-text {
    color: #4BCAFF;
    font-size: 80px;
    font-weight: 400;
}

.nav-menu-list {
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 69px;
    list-style-type: none;
    background-color: #35444F;
}

.nav-menu-item {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 15px;
    display: flex;
    height: 69px;
    justify-content: flex-end;
}

.nav-menu-link {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
}

.nav-menu-item:hover {
    background-color: #222F3A;
    transform: scale(1.0);
}

.main {
    width: 1280px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.main-menu {
    border: 1px solid black;
    list-style: none;
    padding: 0;
    width: 344px;
    height: 407px;
    margin: 0;
}

.main-menu-item {
    width: 342px;
    height: 81px;
    padding: 27px 44px;
    text-align: left;
    transition: background-color 0.3s, text-align 0.3s;
}

.main-menu-item a {
    font-size: 27px;
    text-decoration: none;
    color: black;
    display: block;
}

.main-menu-item:hover {
    background-color: #DBDBDB;
    text-align: center;
}
ss
.main-menu-item:hover a {
    color: black;
}

.main-content {
    width: 885px;
    height: 832px;
}

.main-content-img-fon {
    display: grid;
    place-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000;
}

.main-content-img {
    width: 320px;
    height: 381px;
}

.main-text {
    margin-top: 30px;
    width: 885px;
    height: 109px;
}

.main-content-prg-first,
.main-content-prg-second {
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    background-color: #63696E7A;
    margin-top: 30px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer-menu {
    list-style: none;
    margin: 0;
}

.footer-menu-item {
    padding-left: 10px;
    margin-right: 20px;
    display: inline-block;
}

.footer-menu-item a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    transition: color 0.3s, text-decoration 0.3s;
}

.footer-menu-item a:hover {
    color: #3181A6;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;
}

.footer-copyright {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}